<!-- Footer -->
<footer class="footer" id="footer" style="background-color: #011f5b">
  <div class="container">
    <div class="row justify-content-center">
      <div class="logo-container">
        {% for logo in site.data.sitetext.footer.logo %}
        <div class="col-md-8 mb-4">
          <a href="{{ logo.url }}" target="_blank">
            <img
              height="{{ logo.height | default: 52 }}"
              src="{{ logo.path }}"
              alt="{{ logo.name }}"
            />
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div>
      <p>Powered by Empirica</p>
      <img 
        height="{{ logo.height | default: 52 }}"
        src="https://images.squarespace-cdn.com/content/v1/615b010442eb7a43130765ed/41fb0835-6631-4def-8a52-04f851b3d3a3/LogoType.png?format=1500w"
        alt="Empirica Logo"
      />
    </div>
    <div class="email"> 
        Email: jameshou@wharton.upenn.edu
    </div>
    <div class="row justify-content-center">
      <a class="copyright" href="https://css.seas.upenn.edu" target="_blank">
        Copyright &copy; Computational Social Science Lab at Penn {{ 'now' |
        date: "%Y" }}</a
      >
    </div>
  </div>
</footer>
{% if page.layout == "page" %}
<script>
  fixPageShort();
  function fixPageShort() {
    if (window.innerHeight > document.body.offsetHeight) {
      document.getElementById("footer").style.position = "fixed";
      document.getElementById("footer").style.bottom = 0;
      document.getElementById("footer").style.right = 0;
      document.getElementById("footer").style.left = 0;
      document.getElementById("footer").style.width = "100%";
    }
  }
</script>
{% endif %}
<!-- End Footer -->
